@import "tailwindcss";

/* Testes */
:root { 
  --color-primary: #2563eb;
}

.bg-primary {
  background-color: var(--color-primary);
}

.vertical-timeline-element-date {
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
}